
/** @font-face {
    font-family:"relatta";
    src:url("../FONT/relatta_saidnolia_serif/Relatta\ Saidnolia\ Serif.otf");
    }

#titre{
    font-family: "relatta";
    text-align: center;
    color: rgb(218, 218, 218);
    
}

.typo {
    font-family: "relatta";
    color: rgb(218, 218, 218);
    
}


body {
    background-color: rgb(218, 218, 218);
    background-image: url(../IMAGE/Plan\ de\ travail\ 1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


.menu-bar {
    background-color: #1988f7;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .item {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }
  
  .item.titre {
    font-weight: 600;
  }
  
  .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
**/

.menu {
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .element {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }
  
  .titre {
    color: white;
    font-weight: 600;
  }
  
  .element:hover {
    background-color: rgb(31, 18, 18);
  }